header{
    background: url(pg1.jpeg);
    width: 1920px;
    height: 1000px;
    flex-shrink: 0;
    background-repeat: round;
}

body{
    margin: 0px;
    padding: 0px;
}

.header-container{
    position: relative;
    width: 1280px;
    height: 74px;
    top: 20px;
    left: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img1{
    position: relative;
    width: 296px;
    height:74px;
}

.img2{
    position: relative;
    width: 380px;
    height: 30px;
}

.img3{
    width: 624px;
    height: 369px;
    position: relative;
    top: 557px;
    left: 976px;
}

.new-container{
    width: 890px;
    height: 777px;
    top: 40px;
    left: 320px;
    position: relative;
    margin-bottom: 100px;
}

.title1{
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 800;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 25px;
}

.text1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    opacity: 0.5;
}

b{
    color: #52BEDC;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.img{
    display: flex;
    margin: 60px 0px;
    column-gap: 32px;
}

.imgg4{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img4{
    width: 460px;
    height: 196px;
    top: 1353px;
    left: 320px;
    margin-right: 20px;
}

.img5{
    width: 460px;
    height: 196px;
    top: 1581px;
    left: 320px;
    margin-right: 20px;
}

.img6{
    width: 788px;
    height: 424px;
    top: 1353px;
    left: 812px;
}

.section{
    width: 1920px;
    height: 884px;
}

.back{
    background: url(Rectangle\ 60.png);
    width: 1920px;
    height: 884px;
    flex-shrink: 0;
    background-repeat: round;
}

.img7{
    width: 1920px;
    height: 70px;
    top: 1847px;
}

.overlay{
    width: 1920px;
    height: 814px;
}

.play{
    position: relative;
    display: flex;
    position: relative;
    left: 320px;
}

.img8{
    margin-right: 30px;
    position: relative;
}

.title2{
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.Cyberpunk{
    position: relative;
    width: 952px;
    height: 91px;
    left: 320px;
}

.text2{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.anketka{
    width: 460px;
    height: 383px;
    top: 50px;
    left: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    opacity: 0.8;
}

.line1{
    width: 460px;
    height: 0px;
    color: #777777; 
    opacity: 0.3;
}

.scrinshotic{
    position: relative;
    margin: 20px 0px;
}

.img23{
    width: 460px;
    height: 120px;
    left: 320px;


}
.text-container{
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
}

.text4{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration-line: underline;
    color: white;
    margin: 0px;
    opacity: 0.8;
}

.text5{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    opacity: 0.8;
    margin: 0px 40px;
}

.otpravka{
    display: flex;
    flex-direction: column;
}

.img9{
    width: 192px;
    height: 59px;
    margin: 10px 0px;
}

.img10{
    width: 280px;
    height: 14px;
    top: 10px;
    position: relative;
}

.PlayStation{
    position: relative;
    width: 788px;
    height: 456px;
    top: -350px;
    left: 812px;
}

.img11{
    width: 788px;
    height: 456px;
}

.section1{
    width: 1920px;
    height: 746px;
}

.back1{
    background: url(Rectangle\ 593.png);
    width: 1920px;
    height: 746px;
    background-repeat: round;
}

.img24{
    width: 1920px;
    height: 70px;
}

.back-content2{
    position: relative;
    width: 1920px;
    height: 676px;
    left: 320px;
    display: flex;
}

.comp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img12{
    width: 624px;
    height: 430px;
    margin: 20px 0px;
}

.img13{
    width: 540px;
    height: 80px; 
    margin: 0px 60px;
}

.hp{
    width: 624px;
    height: 526px;
    left: 33px;
    position: relative;
}

.title3{
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 40px 0px;
}

.text6{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.icons{
    display: flex;
    flex-direction: column;
}

.icon1{
    width: 390px;
    height: 32px;
    top: 3266px;
    left: 976px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.img14{
    width: 32px;
    height: 32px;
    top: 4px;
    left: 4px;
    margin: 0px 10px;
}

.text7{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.img15{
    width: 194px;
    height: 59px;
    top: 3338px;
    left: 976px;
    gap: 10px;
    margin: 20px 0px;
}

.section2{
    width: 1920px;
    height: 715px;
    position: relative;
}

.back2{
    width: 1920px;
    height: 717px;
    display: flex;
}

.img16{
    width: 944px;
    height: 717px;
    top: 3477px;
}

.buy{
    background: url(Rectangle\ 596.png);
    background-repeat: round;
    width: 976px;
    height: 717px;
    position: relative;
}

.img17{
    width: 976px;
    height: 717px;
    top: 3477px;
    left: 944px;
}

.back-content3{
    position: absolute;
    width: 976px;
    height: 717px;
    top: 0;
    left: 40px;
}

.title4{
    font-family: Archangelsk;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.icons2{
    margin: 20px 0px;
}

.text8{
    color: #FFFFFF;
    width: 466px;
    height: 32px;
    display: flex;
    align-items: center;
}

.platform2{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    gap: 50px;
    margin: 20px 0px;
}

.img17{
    width: 62px;
    height: 35.19px;
    top: 3990px;
    left: 976px;
}

.img18{
    width: 178px;
    height: 35.19px;
    top: 3990.29px;
    left: 1117px;
}

.img19{
    width: 58px;
    height: 50.27px;
    top: 4073px;
    left: 979px;
}

.img20{
    width: 168px;
    height: 35.19px;
    top: 4081px;
    left: 1117px;
}

.footer1{
    background: url(Rectangle\ 68.png);
    width: 1920px;
    height: 140px;
    background-repeat: round;
}

.white{
    position: relative;
    left: 320px;
    display: flex;
    align-items: center;
}

.img21{
    width: 296px;
    height: 74px;
    margin-right: 20px; 
}

.img22{
    width: 172.05px;
    height: 74px;
    margin-right: 400px;
}

.text9{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-right: 20px;
}

.black{
    background: url(Rectangle\ 69.png);
    background-repeat: round;
    width: 1920px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.text10{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    header{
        background-repeat: no-repeat;
        width: 320px;
        height: 713px;
        background-position: center;
        background-size: cover;

    }
    .header-container{
        width: 296px;
        height: 85px;
        left: 12px;
        flex-wrap: wrap;
    }

    .img1{
        width: 200px;
        height: 50px;
        top: 20px;
        left: 60px;
    }

    .img2{
        width: 296px;
        height: 25px;
        top: 20px;
    }

    .img3{
        top: 556px;
        left: 0px;
        width: 320px;
        height: 207px;
    }

    .new-container{
        width: 320px;
        height: 1480px;
        left: 0px;
        padding: 150px 0px 40px 0px;
        margin: 0px;
    }

    .title1{
        position: relative;
        font-size: 30px;
        line-height: 31px;
        left: 12px;
    }

    .text1{
        position: relative;
        font-size: 16px;
        line-height: 32px;
        width: 296px;
        height: 373px;
        left: 12px;
    }

    .img{
        flex-wrap: wrap;
    }

    .img4{
        width: 320px;
        height: 196px;
    }

    .img5{
        width: 320px;
        height: 196px;
    }

    .img6{
        width: 320px;
        height: 424px;
        margin: 32px 0px;
    }

    .section{
        width: 320px;
        height: 1071px;
        margin-top: 10px;
    }

    .back{
        width: 320px;
        height: 1071px;
    }

    .img7{
        width: 320px;
        height: 70px;
    }

    .play{
        left: 0px;
        flex-wrap: wrap;
        left: 12px;
    }

    .img8{
        width: 62px;
        height: 62px;
        left: 12px;
    }
    .title2{
        font-size: 30px;
        line-height: 31px;
        margin-top: 140px;
    }

    .Cyberpunk{
        left: 12px;
        width: 296px;
        height: 213px;
    }

    .anketka{
        width: 296px;
        height: 381px;
        top: 70px;
        left: 12px;
    }

    .text3{
        font-size: 16px;
        line-height: 19px;
    }

    .line1{
        width: 296px;
        left: 12px;
    }

    .scrinshotic{
        width: 296px;
        height: 120px;
        margin: 0px;
    }

    .img23{
        width: 296px;
        height: 120px;
    }

    .text-container{
        top: 40%;
        left: 25%;
    }

    .text4{
        font-size: 16px;
        line-height: 19px;
    }

    .text5{
        font-size: 0;
    }

    .img9{
        width: 182px;
        height: 60px;
    }

    .PlayStation{
        left: 0px;
        top: -812px;
    }

    .img11{
        width: 296px;
        height: 130.85px;
        left: 12px;
    }

    .section1{
        width: 320px;
        height: 1110px;
    }

    .back1{
        width: 320px;
        height: 1110px;
    }

    .img24{
        width: 320px;
        height: 70px;
    }
    
    .back-content2{
        left: 12px;
        flex-direction: column;
    }

    .comp{
        width: 296px;
        height: 273px;
        position: relative;
        top: 40px;
    }

    .img12{
        width: 296px;
        height: 204px;
    }

    .img13{
        width: 296px;
        height: 44px;
        margin: 0px;
    }

    .hp{
        width: 296px;
        height: 587px;
        left: 0px;
        top: 40px;
    }

    .title3{
        font-size: 30px;
        line-height: 31px;
        padding: 40px 0px 0px 0px;
        margin: 0px;
    }

    .text6{
        font-size: 16px;
        line-height: 32px;
    }

    .icon1{
        width: 254px;
        height: 38px;
    }

    .text7{
        font-size: 16px;
        line-height: 19px;
    }

    .section2{
        width: 320px;
        height: 785px;
    }

    .back2{
        width: 320px;
        height: 785px;
        flex-direction: column;
    }

    .img16{
        width: 320px;
        height: 198px;
    }

    .buy{
        width: 320px;
        height: 587px;
    }

    .back-content3{
        width: 320px;
        height: 560px;
        left: 12px;
    }

    .title4{
        font-size: 30px;
        line-height: 31px;
    }

    .icons2{
        width: 296px;
        height: 169px;
        margin: 30px 0px;
    }

    .text8{
        font-size: 16px;
        line-height: 19px;
    }

    .platform2{
        width: 296px;
        height: 126.27px;
    }

    .footer1{
        width: 322px;
        height: 333px;
        left: 12px;
    }

    .white{
        width: 320px;
        left: 0px;
        flex-direction: column;
        justify-content: center;
        margin: 40px 0px;
    }

    .img21{
        width: 200px;
        height: 50px;
        left: 61px;
        margin: 0px;
    }

    .img22{
        margin: 0px;
    }

    .black{
        width: 320px;
        height: 40px;

    }
}
